.decorative-squares {
    position: relative;
    overflow: hidden;
}

.decorative-squares::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: 
        /* Fila superior */
        linear-gradient(var(--naranja), var(--naranja)),
        linear-gradient(var(--rosado), var(--rosado)),
        linear-gradient(var(--rojo), var(--rojo)),
        /* Fila media */
        linear-gradient(var(--amarillo), var(--amarillo)),
        linear-gradient(var(--morado), var(--morado)),
        /* Fila inferior */
        linear-gradient(var(--naranja), var(--naranja)),
        linear-gradient(var(--rosado), var(--rosado)),
        linear-gradient(var(--amarillo), var(--amarillo));
    background-size: 
        180px 180px,
        120px 120px,
        90px 90px,
        150px 150px,
        100px 100px,
        110px 110px,
        140px 140px,
        130px 130px;
    background-position: 
        -70px 40px,
        25% 15px,
        calc(100% + 20px) 80px,
        5% 50%,
        calc(100% - 60px) 45%,
        10% calc(100% - 90px),
        60% calc(100% - 50px),
        calc(100% + 40px) calc(100% - 60px);
    background-repeat: no-repeat;
    opacity: 0.28;
}